@font-face {
    font-family: "Din";
    src: url(Fonts/DIN.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Din";
    src: url(Fonts/DIN\ Black.ttf);
    font-weight:bolder;
}

@font-face {
    font-family: "Din";
    src: url(Fonts/DIN\ Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Din";
    src: url(Fonts/DIN\ Medium.ttf);
    font-weight: normal;
}

:root{
    --primary-color: #222831;
    --secondary-color: #31363F;
    --terciary-color: #79818E;
    --accent-color: #76ABAE;
    --light-color: #EEEEEE;

    -webkit-tap-highlight-color: transparent;

    font-family: Din;
}

body{
    background-color: var(--primary-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
}


/* Utility */
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.growhover {
    transition: all .2s ease-in-out; 
}


.growhover:hover{
    transform: scale(1.1); 
}

@media only screen and (max-width: 1200px) {
    .growhover:hover{
        transform: none;
    }

    .growhover:active{
        transform: scale(1.05);
    }
}


/* Character Displays*/
.characterdisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    gap: 3em;
    flex-shrink: 1;

    margin-top: 5%;
}

#charactergroup1, #charactergroup2{
    display: flex;
    gap: 3em;
}

.character{
    display: flex;
    flex-direction: column;
    flex-basis: 100%s;
    justify-content: center;
    align-items: center;

    max-width: 15em;
    flex-grow: 1;
    flex-shrink: 11;
}

.characterportrait{
    position: relative;
    text-align: center;
    
    max-width: 16em;
    max-height: 16em;

    min-width: 12em;
    min-height: 12em;
    
    background-color: var(--secondary-color);
    border-radius: 3em;


    justify-items: center;
    align-content: center;

    object-fit: contain;
    cursor: pointer;
}

.characterimg{
    max-height: 70%;
    max-width: 70%;
    min-height: 55%;
    min-width: 55%;
    margin-bottom: 10%;
    border-radius: 100%;
    background-color: var(--accent-color);
}

.charactername{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    text-align: center;
    font-size: 120%;
    color: var(--light-color);
}

/* Calculate Button*/

#calculatebutton{
    margin-top: 2.5%;
    align-self: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-inline: 2.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: var(--accent-color);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    
    font-family: Din;
    font-size: 1.5em;
}

@media only screen and (min-width: 1201px){
    #calculatebutton:hover{
        background-color: var(--accent-color);
        border-style: solid;
        border-color: var(--primary-color); 
    }
}

@media only screen and (max-width: 1200px) {
    #calculatebutton{
        margin-top: 2.5em;
        margin-bottom: 5em;
    }

    #calculatebutton:active{
        background-color: var(--accent-color);
        border-style: solid;
        border-color: var(--primary-color); 
    }
}


/* Character Dropdowns */

.characterdropdown{
    display: none; /* Default value */
    margin-top: 0.8em;
    margin-inline: 2%;
    padding-inline: 2em;
    background-color: var(--terciary-color);
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    gap: 3em;

    font-weight: lighter;
    font-size: 1.2em;

    /*Removes up-down arrows*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number]{
        -moz-appearance: textfield;
    }
}


.characterspeed{
    width: 5em;
    height: 3em;
    border-radius: 3em;
    border: none;
    font-family: Din;
    font-weight: bold;

    text-align: center;
}

/* Character Turns */
.actionorder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 8%;   
}

.turn{
    display: flex;
    background-color: var(--secondary-color); 
    border-radius: 1em;
    width: 60%;
    height: 6em;

    margin-bottom: 5%;

    justify-content: left;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .turn{
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .turn{
        margin-bottom: 20%;
    }
}


.characterimgsm{
    position: absolute;
    width: 4em;
    height: 4em;
    padding: 0.6em;

    transform: translate(-50%, -50%);


    border-radius: 100%;
    background-color: var(--accent-color);
}

@media only screen and (max-width: 1200px) {
    .characterimgsm{
        z-index: 1;
    }
}

.turntitle{
    text-align: start;
    display: flex;
    position: absolute;
    transform: translate(3.5em, -175%);
    flex-direction: column;
}

.turncharactername{
    font-size: 2em;
    margin: 0;
}

@media only screen and (max-width: 1200px){
    .turntitle{
        left: 50%;
        transform: translate(-50%, -220%);
    }
}

@media only screen and (max-width: 600px){
    .turncharactername{
        font-size: 1.5em;
        
    }
}



.turnavslot{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    border-radius: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    
    background-color: var(--terciary-color);
}

.turnav{
    font-size: 2em;
}

@media only screen and (max-width: 1200px) {
    .turnavslot{
        height: 5em;
        width: 3em;
        transform: translate(-50%, 25%);
        border-radius: 1em;
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
    }

    .turnav{
        font-size: 1.5em;
    }
}

.turnactiontypeslot{
    margin-left: 1em;
}

.turnactiontype{
    font-size: 2em;
}

@media only screen and (max-width: 1200px) {

    .turnactiontypeslot{
        margin-left: 0em;
    }

    .turnactiontype{
        margin-left: 40%;
        transform: translate(-50%, 0%)
        
    }
}

@media only screen and (max-width: 750px) {
    .turnactiontype{
        margin-left: 30%;
        transform: translate(-50%, 0%)
        
    }
}

@media only screen and (max-width: 600px) {
    .turnactiontype{
        margin-left: 20%;
        transform: translate(-50%, 0%);
        font-size: 1.5em;
    }
}




@media only screen and (min-width: 1201px){
    .turnactivebundle{
        display: flex;
        margin-left: auto;
        flex-flow: row;
    }
}

@media only screen and (max-width: 1200px) {
    .turnactivebundle{
        display: flex;
        flex-flow: column;
        margin-left: auto;


    }
}

.turnactiveslot{
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    margin-inline: 0.5em;

    background-color: var(--light-color); 
    border-radius: 100%;
    height: 3.2em;
    width: 3.2em;
    padding: 0.5em;
    object-fit: contain;

    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .turnactiveslot{
        height: 1.5em;
        width: 1.5em;
        flex-flow: row;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}

@media only screen and (min-width: 1201px){
    .stackable {
        transform: translate(0%, -30%);
    }
}

.turnactiveimg{
    height: 100%;
    width: 100%;
    filter: invert(1);
}

.turnstackammount{
    padding: 0.4em;
    border-radius: 0.3em;
    color: var(--primary-color);
    font-weight: bolder;
    background-color: var(--light-color);
}

@media only screen and (max-width: 1200px) {
    .turnstackammount{
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
        padding-left: 10%;
    }
}

